{% extends "bootstrap/base.html" %}

{% block content %}
<!-- Sign in as admin or student -->
<h1>Sign in to your account</h1>
<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <h2>Sign in as: </h2>
  <button type="button" class="btn btn-primary btn-lg btn-block">Student</button>
  <button type="button" class="btn btn-secondary btn-lg btn-block">School administrator</button>

  <!-- Incorporating csv file uploads -->
  
  <form>
    <div class="form-group">
      <label for="exampleFormControlFile1">Upload tweets csv file</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
  </form>

  <form>
    <div class="form-group">
      <label for="exampleFormControlFile1">Upload social media images file</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
  </form>

{% endblock %}

{% block scripts %}
{{super()}}
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
{% endblock %}